/*_*_*_*_*_*_*_*_*_*_Utilities*_*_*_*_*_*_*_*_*_*_*_*_*/

:root {
	//Color themes
	--app-bg-col: #0a0b2b;
	--text-col: white;
	--TC1: rgb(255, 174, 0);
	--TC2: rgb(24 79 89);
	--TC3: rgb(255, 174, 0, 0.5);
	--TC4: rgb(24 79 89, 0.5);
	--TC5: rgb(105, 47, 96);
	--TC6: rgb(105, 47, 96, 0.5);

	.light-theme {
		--app-bg-col: linear-gradient(
			to top,
			#faf4ff,
			#f9f4fc,
			#f8f3f9,
			#f6f3f6,
			#f4f3f4
		);
		--text-col: black;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
	line-height: 1.6;
}

/*_*_*_*_*_*_*_*_*_*_List Items_*_*_*_*_*_*_*_*_*_*_*_*_*/

li {
	list-style: none;
}

/*_*_*_*_*_*_*_*_*_*_Anchor Tags_*_*_*_*_*_*_*_*_*_*_*_*_*/
a:link,
a:visited {
	font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: var(--text-col);
	font-size: 1.4rem;
	padding-top: 9px;
	padding-bottom: 6px;
}

a:hover,
a:active {
	color: white;
}

/*_*_*_*_*_*_*_*_*_*_Old Code_*_*_*_*_*_*_*_*_*_*_*_*_*/

.icon {
	height: 100px;
	width: 100px;
	margin: 25px;
	transition: transform 0.35s ease-in-out;
}
.icon:hover {
	transform: scale(1.25);
}

.header-text {
	color: black;
	font-size: 2rem;
	font-weight: bolder;
}

.p-text {
	color: black;
	font-size: 1rem;
}

.about-me-content-left {
	width: 30vw;
	margin-right: 50px;
}

#abilities {
	background-color: #ffffff;
}

#projects {
	background-color: #121a1d;
	color: white;
}

#experience {
	color: white;
	background-color: var(--TC3);
}

.projects-container img {
	width: 350px;
	height: 100%;
	margin: 30px;
	object-fit: cover;

	transform-origin: center;
	transform: perspective(800px) rotateY(25deg);
	transition: 0.5s;
}

.projects-container {
	max-width: 600px;
	max-height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container:hover img {
	opacity: 0.3;
}

.container img:hover {
	transform: perspective(800px) rotateY(0deg);
	opacity: 1;
}

.overlay {
	visibility: hidden;
}

.container:hover .overlay {
	visibility: visible;
}

/*_*_*_*_*_*_*_*_*_*_Main Nav_*_*_*_*_*_*_*_*_*_*_*_*_*/
header#header {
	background-color: var(--TC2);
	height: calc(3vw + 3vh);
	z-index: 2;
	position: fixed;
	width: 100%;
}

nav#header_main-nav {
	position: static;
	height: 100%;
	width: 100%;
}

.header_main-nav-links {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

ul.header_main-nav-links li {
	padding-right: 3vw;
}

ul.header_main-nav-links li a {
	position: relative;
	padding: 0.2rem, 0.6rem;
	font-size: 1.2rem;
}

ul.header_main-nav-links li a:link::before,
ul.header_main-nav-links li a:visited::before,
ul.header_main-nav-links li a:link::after,
ul.header_main-nav-links li a:visited::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 0.25rem;
	background-color: white;
	transform: scaleX(0);
	transition: 0.6s cubic-bezier(1, 0, 0, 1);
}

ul.header_main-nav-links li a:link::before,
ul.header_main-nav-links li a:visited::before {
	top: 0;
	transform-origin: left;
}

ul.header_main-nav-links li a:link::after,
ul.header_main-nav-links li a:visited::after {
	bottom: 0;
	transform-origin: right;
}

ul.header_main-nav-links li a:hover::before,
ul.header_main-nav-links li a:active::before,
ul.header_main-nav-links li a:hover::after,
ul.header_main-nav-links li a:active::after {
	transform: scaleX(1);
}

/*_*_*_*_*_*_*_*_*_*_Max-width 610px*_*_*_*_*_*_*_*_*_*_*_*_*/

@media screen and (max-width: 610px) {
	/*_*_*_*_*_*_*_*_*_*_Main Nav_*_*_*_*_*_*_*_*_*_*_*_*_*/
	header#header {
		position: absolute;
	}

	nav#header_main-nav {
		width: 30rem;
		height: 100%;
		position: fixed;
		top: 0;
		right: -30rem;
		left: 100%;
		background-color: var(--TC1);
		text-align: center;
		transition: 1s;
	}

	nav#header_main-nav.clicked {
		left: 40%;
	}

	.clicked .line1 {
		transform: rotateZ(-45deg) translate(-0.5rem, 0.2rem);
		transition: 0.7s;
	}

	.clicked .line2 {
		opacity: 0;
		transition: 0.7s;
	}

	.clicked .line3 {
		transform: rotateZ(45deg) translate(-0.5rem, -0.2rem);
		transition: 0.7s;
	}

	.line1,
	.line2,
	.line3 {
		transition: 0.7s;
	}

	.header_main-nav-hamburger {
		width: 3.5rem;
		height: 3.5rem;
		position: fixed;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
		background-color: var(--TC1);
		padding: 1rem;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.line {
		width: 100%;
		height: 0.2rem;
		background-color: white;
		border-radius: 0.2rem;
		transition: all 0.4sec ease-in-out;
	}

	ul.header_main-nav-links {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	ul.header_main-nav-links li {
		margin-bottom: 4vh;
		margin-left: 6vh;
		opacity: 0;
	}

	ul.header_main-nav-links li:nth-child(1) {
		transition: all 0.5s ease-in-out 0.3s;
	}
	ul.header_main-nav-links li:nth-child(2) {
		transition: all 0.5s ease-in-out 0.5s;
	}
	ul.header_main-nav-links li:nth-child(3) {
		transition: all 0.5s ease-in-out 0.7s;
	}
	ul.header_main-nav-links li:nth-child(4) {
		transition: all 0.5s ease-in-out 0.9s;
	}
	ul.header_main-nav-links li:nth-child(5) {
		transition: all 0.5s ease-in-out 1.1s;
	}

	ul.header_main-nav-links li.clicked {
		opacity: 1;
	}
}

/*_*_*_*_*_*_*_*_*_*_Cover-Section*_*_*_*_*_*_*_*_*_*_*_*_*/
div#cover-section {
	height: 100vh;
	background-image: url('./resources/jen-wide.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px 60px;
	background-attachment: fixed;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	animation: fadein 2s;
}

@keyframes fadein {
	0% {
		filter: brightness(0%);
	}

	100% {
		filter: brightness(100%);
	}
}

div#cover-section-content {
	background-color: var(--TC3);
	padding: calc(1rem + 2vw);
	height: calc(5rem + 20vmax);

	display: flex;
	flex-direction: column;
	justify-content: space-around;

	animation: coverdiv 2.5s;
}

@keyframes coverdiv {
	0% {
		transform: translateY(-100rem);
	}

	100% {
		transform: translateY(0);
	}
}

.cover-section-content-title {
	font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
	font-size: calc(2rem + 3vw);
	color: white;
}

.cover-section-content-para {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: calc(1.5rem + 1vw);
	color: white;
}

.cover-section-content-link:link,
.cover-section-content-link:visited {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	padding: 0.8rem 0.2rem;
	transition: all 0.5s ease-in-out;
	width: 9rem;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	position: relative;
	z-index: 1;
}

.cover-section-content-title,
.cover-section-content-para,
.cover-section-content-link {
	animation: coverdivcontent 2.5s;
}

@keyframes coverdivcontent {
	0% {
		transform: translateX(-500rem);
	}

	100% {
		transform: translateX(0);
	}
}

.cover-section-content-link:link::after,
.cover-section-content-link:visited::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--TC2);
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.5s;
	z-index: -1;
}

.cover-section-content-link:hover::after,
.cover-section-content-link:active::after {
	transform: scale(1);
	transform-origin: left;
}

@media screen and (max-width: 1300px) {
	header#header {
		height: calc(4vw + 5vh);
	}

	div#cover-section {
		background-position: 0px 70px;
	}
}

@media screen and (max-width: 1100px) {
	header#header {
		height: calc(3vw + 5vh);
	}

	div#cover-section {
		background-position: 0px 30px;
	}
}

@media screen and (max-height: 450px) {
	div#cover-section {
		justify-content: flex-start;
		align-items: flex-end;
	}
	.cover-section-content-title {
		font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
		font-size: calc(2rem + 2vw);
		color: white;
	}
	.cover-section-content-para {
		font-size: calc(0.8rem + 1vw);
	}
	.cover-section-content-link:link,
	.cover-section-content-link:visited {
		width: 5rem;
		font-size: 0.6rem;
	}
	ul.header_main-nav-links li a {
		font-size: 1rem;
	}
}

@media screen and (max-width: 490px) {
	.cover-section-content-link:link,
	.cover-section-content-link:visited {
		padding: 0.4rem 0rem;
		font-size: 1rem;
		width: 7rem;
	}

	header#header {
		height: calc(3vw + 4vh);
	}
}

@media (max-aspect-ratio: 1/1) {
	div#cover-section {
		background-image: url('./resources/jen-portrait.jpg');
		background-position: center;
		justify-content: flex-start;
		align-items: end;
	}
}

@media (max-aspect-ratio: 1/1) and (max-width: 650px) {
	header#header {
		height: calc(2vw + 2vh);
	}
}

/*_*_*_*_*_*_*_*_*_*_About Me Section_*_*_*_*_*_*_*_*_*_*_*_*_*/
#about-me {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap-reverse;
	background-color: var(--TC5);
}

.about-me-img,
.about-me-content {
	flex-basis: 25rem;
	flex-grow: 1;
}

.about-me-img {
	display: flex;
	justify-content: center;
}

.about-me-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	padding: 2rem;
	padding-right: 7rem;
}

.about-me-img img {
	width: 65%;
	height: auto;
	object-fit: cover;
	animation: fadein2 2s;
}

@keyframes fadein2 {
	0% {
		filter: opacity(0);
	}

	100% {
		filter: opacity(1);
	}
}

.about-me-title {
	font-size: calc(1.5rem + 1vw);
	padding: 1rem 0;
	position: relative;
}

// .about-me-title:after {
// 	content: '';
// 	position: absolute;
// 	bottom: 0;
// 	left: 0;
// 	height: 0.1rem;
// 	width: 50%;
// 	background-color: white;
// }

.about-me-title,
.about-me-para {
	margin-bottom: 1.5rem;
	letter-spacing: 0.2rem;
}

.about-me-para {
	font-size: calc(0.4rem + 0.8vw);
	font-weight: 600;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	text-align: justify;
}
.about-me-link:link,
.about-me-link:visited {
	padding: 1rem 0;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	width: -moz-fit-content;
	width: fit-content;
	padding-left: 2px;
}

.about-me-link:link::after,
.about-me-link:visited::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--TC2);
	transform: scaleY(0);
	transform-origin: bottom;
	transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
	z-index: -1;
}

.about-me-link:hover::after,
.about-me-link:active::after {
	transform: scaleY(1);
	transform-origin: top;
}

/*_*_*_*_*_*_*_*_*_*_About Me Section -- Breakpoint max-width 750px_*_*_*_*_*_*_*_*_*_*_*_*_*/

@media screen and (max-width: 800px) {
	.about-me-content {
		padding-right: 2rem;
	}
	.about-me-para {
		font-size: calc(0.8rem + 0.8vw);
		letter-spacing: 0px;
	}
	.about-me-img img {
		padding-bottom: 25px;
	}
}

/*_*_*_*_*_*_*_*_*_*_More About Me Section_*_*_*_*_*_*_*_*_*_*_*_*_*/

#more-about-me {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
	background-color: var(--TC2);
	padding: 4rem;
}

.more-about-me_3-words {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: flex-start;
}

.mam-container {
	padding: 25px;
}

.mam-container:hover .overlay {
	visibility: visible;
	animation: fadein2 2s;
}

.mam-header {
	font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
	padding: 1rem 0;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	text-align: center;
}

.overlay {
	transition: ease-out;
}

@media screen and (max-width: 915px) {
	.mam-header {
		font-size: 1rem;
	}
}

@media screen and (max-width: 750px) {
	.more-about-me_3-words {
		flex-wrap: wrap;
	}
}
